Repository facelessuser/backrefs, pull requests merged in 2021-01, with the labels that each got.

#147 Update deploy to build wheels for each supported python version
  .github/workflows/deploy.yml
  .gitignore
  backrefs/__meta__.py
  docs/src/markdown/about/changelog.md
Labels: C: docs, C: infrastructure, S: approved

#148 ci: upload job
  .github/workflows/deploy.yml
Labels: C: infrastructure, S: approved

#149 Add pyproject.toml and ensure license is in package with setup.cfg
  MANIFEST.in
  pyproject.toml
  setup.cfg
Labels: C: infrastructure, S: approved

#152 Fix Unicode generation issues
  backrefs/__meta__.py
  docs/src/markdown/about/changelog.md
  tests/test_uniprops.py
  tools/unipropgen.py
  tox.ini
Labels: C: docs, C: infrastructure, C: tests, S: approved

#153 Push binary logic down into uniprops
  backrefs/_bre_parse.py
  backrefs/uniprops/__init__.py
  tests/test_uniprops.py
Labels: C: tests, C: unicode, S: approved

#154 Create a more sane API for uniprops
  backrefs/_bre_parse.py
  backrefs/uniprops/__init__.py
  tests/test_bre.py
  tests/test_uniprops.py
  tools/unidatadownload.py
  tools/unipropgen.py
Labels: C: bre, C: infrastructure, C: tests, C: unicode, S: approved

#155 Is<script> should return script_extension
  backrefs/uniprops/__init__.py
  docs/src/markdown/about/changelog.md
  docs/src/markdown/index.md
  tools/unipropgen.py
Labels: C: docs, C: infrastructure, C: unicode, S: approved

#157 Bring over last wave of fixes and tests
  backrefs/uniprops/__init__.py
  backrefs/util.py
  docs/src/markdown/about/changelog.md
  tests/test_age.py
  tests/test_bidiclass.py
  tests/test_bidipairedbrackettype.py
  tests/test_binary.py
  tests/test_block.py
  tests/test_bre.py
  tests/test_bregex.py
  tests/test_canonicalcombiningclass.py
  tests/test_decompositiontype.py
  tests/test_eastasianwidth.py
  tests/test_generalcategory.py
  tests/test_graphemeclusterbreak.py
  tests/test_hangulsyllabletype.py
  tests/test_indicpositionalcategory.py
  tests/test_indicsylabiccategory.py
  tests/test_joininggroup.py
  tests/test_joiningtype.py
  tests/test_linebreak.py
  tests/test_numerictype.py
  tests/test_numericvalue.py
  tests/test_posix.py
  tests/test_quickcheck.py
  tests/test_script.py
  tests/test_scriptextensions.py
  tests/test_sentencebreak.py
  tests/test_uniprops.py
  tests/test_verticalorientation.py
  tests/test_wordbreak.py
  tools/unipropgen.py
Labels: C: bre, C: bregex, C: docs, C: infrastructure, C: tests, C: unicode, S: approved

#158 Ensure POSIX classes conform to tr18
  backrefs/uniprops/__init__.py
  docs/src/markdown/_snippets/links.txt
  docs/src/markdown/about/changelog.md
  docs/src/markdown/index.md
  tests/test_bre.py
  tests/test_posix.py
  tools/unipropgen.py
Labels: C: bre, C: docs, C: infrastructure, C: tests, C: unicode, S: approved

#159 ASCII properties truncate to 7f while inverse or unassigned can be ff
  docs/src/markdown/about/changelog.md
  docs/src/markdown/index.md
  tools/unidatadownload.py
  tools/unipropgen.py
Labels: C: docs, C: infrastructure, S: approved

#160 Unicode property improvements
  backrefs/_bre_parse.py
  backrefs/uniprops/__init__.py
  docs/src/markdown/about/changelog.md
  docs/src/markdown/index.md
  tests/test_age.py
  tests/test_bidiclass.py
  tests/test_bidipairedbrackettype.py
  tests/test_binary.py
  tests/test_block.py
  tests/test_bre.py
  tests/test_canonicalcombiningclass.py
  tests/test_decompositiontype.py
  tests/test_eastasianwidth.py
  tests/test_generalcategory.py
  tests/test_graphemeclusterbreak.py
  tests/test_hangulsyllabletype.py
  tests/test_indicpositionalcategory.py
  tests/test_indicsylabiccategory.py
  tests/test_joininggroup.py
  tests/test_joiningtype.py
  tests/test_linebreak.py
  tests/test_numerictype.py
  tests/test_numericvalue.py
  tests/test_posix.py
  tests/test_quickcheck.py
  tests/test_script.py
  tests/test_scriptextensions.py
  tests/test_sentencebreak.py
  tests/test_verticalorientation.py
  tests/test_wordbreak.py
  tools/unipropgen.py
Labels: C: bre, C: docs, C: infrastructure, C: tests, C: unicode, S: approved

#161 Reduce conflicts of Unicode short names
  backrefs/uniprops/__init__.py
  docs/src/markdown/about/changelog.md
  docs/src/markdown/index.md
  tests/test_binary.py
Labels: C: docs, C: tests, C: unicode, S: approved

#162 Refactor docs
  docs/src/dictionary/en-custom.txt
  docs/src/markdown/about/changelog.md
  docs/src/markdown/installation.md
  docs/src/markdown/refs.md
  docs/src/markdown/usage.md
  mkdocs.yml
Labels: C: docs, C: infrastructure, S: approved
